/* Common Class */
.bold-400 {
    font-weight: 400 !important;
}

.separate::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -10px;
    height: 16px;
    border-right: 1px solid #ff8473;
}

/* Begin */
.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6333, #f53e2e);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    margin-top: 4px;
    margin-bottom: 0;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar--title2 {
    cursor: text;
    color: var(--white-color);
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-icon-link {
    color: var(--white-color);
}

.header__navbar-item,
.header__navbar-item-link {
    color: var(--white-color);
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 300;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item,
.header__navbar-icon-link,
.header__navbar-item-link {
    display: inline-flex;
    align-items: center;
}

/* Header QR Code */

.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 120%;
    padding: 8px;
    border-radius: 4px;
    display: none;
    animation: fadeIn ease-in-out 0.3s;
}

.header__qr::before {
    content: "";
    width: 100%;
    height: 20px;
    display: block;
    position: absolute;
    top: -8%;
    left: 0;
}

.header_qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link:first-child {
    margin-left: 11px;
}

.header__qr-link:last-child {
    margin-right: 11px;
}

.header__qr-download-img {
    height: 16px;
}

.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}

.header__navbar--has-notify:hover .header__notify {
    display: block;
}

/* Header notification */

.header__notify {
    width: 404px;
    position: absolute;
    top: 118%;
    right: 0;
    border: 1px solid #ece9e7;
    background-color: var(--white-color);
    -webkit-transform-origin: calc(100% - 20px) top;
    -ms-transform-origin: calc(100% - 20px) top;
    transform-origin: calc(100% - 20px) top;
    -webkit-animation: Growth ease-in 0.2s;
    animation: Growth ease-in 0.2s;
    will-change: opacity, transform;
    display: none;
}

.header__notify::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 10px solid var(--white-color);
    position: absolute;
    top: -10px;
    right: 15px;
}

.header__notify::after {
    content: "";
    width: 86px;
    height: 15px;
    position: absolute;
    top: -15px;
    right: 0;
    
}

@keyframes Growth {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3 {
    font-size: 1.4rem;
    line-height: 40px;
    color: #b3b3b3;
    margin: 0 0 0 12px;
    cursor: default;
    -webkit-user-select: none;
    user-select: none;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--viewed {
    background-color: rgba(237, 77, 45, 0.1);
}

.header__notify-link {
    display: flex;
    width: 100%;
    padding: 12px;
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 1.5;
}

.header__notify-desc {
    margin-top: 4px;
    display: block;
    font-size: 1.2rem;
    color: #7a7372;
    line-height: 1.4;
}

.header__notify-footer {
    text-align: center;
}

.header__notify-footer-btn {
    display: block;
    color: var(--black-color);
    padding: 10px 0;
    font-weight: 400;
}