/* Common Class */
.bold-400 {
    font-weight: 400 !important;
}

.separate::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -10px;
    height: 16px;
    border-right: 1px solid #ff8473;
}

/* Begin */
.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6333, #f53e2e);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    display: flex;
    align-items: center;
    margin: 4px 0 0 0;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar--title2 {
    cursor: text;
    color: var(--white-color);
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-icon-link {
    color: var(--white-color);
}

.header__navbar-item,
.header__navbar-item-link {
    color: var(--white-color);
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 300;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item,
.header__navbar-icon-link,
.header__navbar-item-link {
    display: inline-flex;
    align-items: center;
}

/* Header QR Code */

.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 120%;
    padding: 8px;
    border-radius: 4px;
    display: none;
    animation: fadeIn ease-in-out 0.3s;
}

.header__qr::before {
    content: "";
    width: 100%;
    height: 20px;
    display: block;
    position: absolute;
    top: -8%;
    left: 0;
}

.header_qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link:first-child {
    margin-left: 11px;
}

.header__qr-link:last-child {
    margin-right: 11px;
}

.header__qr-download-img {
    height: 16px;
}

.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}

.header__navbar--has-notify:hover .header__notify {
    display: block;
}

/* Header notification */

.header__notify {
    width: 404px;
    position: absolute;
    top: 118%;
    right: 0;
    border: 1px solid #ece9e7;
    background-color: var(--white-color);
    -webkit-transform-origin: calc(100% - 20px) top;
    -ms-transform-origin: calc(100% - 20px) top;
    transform-origin: calc(100% - 20px) top;
    -webkit-animation: Growth ease-in 0.2s;
    animation: Growth ease-in 0.2s;
    will-change: opacity, transform;
    z-index: 1;
    display: none;
}

.header__notify::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 10px solid var(--white-color);
    position: absolute;
    top: -10px;
    right: 15px;
}

.header__notify::after {
    content: "";
    width: 86px;
    height: 15px;
    position: absolute;
    top: -15px;
    right: 0;
}

@keyframes Growth {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3 {
    font-size: 1.4rem;
    line-height: 40px;
    color: #b3b3b3;
    margin: 0 0 0 12px;
    cursor: default;
    -webkit-user-select: none;
    user-select: none;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--viewed {
    background-color: rgba(237, 77, 45, 0.1);
}

.header__notify-link {
    display: flex;
    width: 100%;
    padding: 12px;
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 1.5;
}

.header__notify-desc {
    margin-top: 4px;
    display: block;
    font-size: 1.2rem;
    color: #7a7372;
    line-height: 1.4;
}

.header__notify-footer {
    text-align: center;
}

.header__notify-footer-btn {
    display: block;
    color: var(--black-color);
    padding: 10px 0;
    font-weight: 400;
}

/* Authentication modal */

.auth-form {
    width: 500px;
    border-radius: 5px;
    background-color: var(--white-color);
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--main-color);
    cursor: pointer;
}

.auth-form__form {}

.auth-form__group {}

.auth-form__input {
    font-size: 1.4rem;
    padding: 0 12px;
    height: 40px;
    width: 100%;
    margin-top: 16px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    padding: 0 6px;
    text-align: center;
    font-size: 1.1rem;
    color: var(--text-color);
}

.auth-form__policy-link {
    color: var(--main-color);
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    font-size: 1.4rem;
    color: var(--text-color);
}

.auth-form__help-separate {
    display: block;
    height: 22px;
    border-right: 1px solid var(--border-color);
    margin: -4px 16px 0;
}

.auth-form__help-link:first-child {
    color: var(--main-color);
}

.auth-form__controls {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 80px;
}

.auth-form__socials {
    background-color: #f5f5f5;
    padding: 12px 32px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.auth-form__socials-icon {
    font-size: 2rem;
}

.auth-form__socials-fb {
    background-color: #2954b8;
    color: var(--white-color);
}

.auth-form__socials-fb .auth-form__socials-icon {
    color: var(--white-color);
}

.auth-form__socials-gg {
    background-color: var(--white-color);
}

.auth-form__socials--connect {
    margin: 0 36px;
}

.auth-form__socials--login {
    margin: 0 26px;
}

/* Header with search */

.header-with-search {
    display: flex;
    align-items: center;
    height: var(--header-with-search-height);
}

.header__logo {
    width: 200px;
}

.header__logo-img {
    width: 150px;
}

.header__search {
    display: flex;
    flex: 1;
    align-items: center;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 3px;
}

.header__cart {
    width: 150px;
    text-align: center;
    margin-bottom: -16px;
    /*(height search box) - (font-size 2.4rem)*/
}

.header__cart-icon {
    font-size: 2.4rem;
    color: var(--white-color);
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    padding: 0 16px;
    font-size: 1.4rem;
    border: none;
    outline: none;
    border-radius: 3px;
}


.header__search-select {
    position: relative;
    border-left: 1px solid #e8e8e8;
    padding-left: 16px;
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-select-lable {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon {
    font-size: 1.2rem;
    color: #838383;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}

.header__search-btn {
    height: 34px;
    width: 60px;
    background-color: var(--main-color);
    border: none;
    border-radius: 2px;
    margin-right: 3px;
    outline: none;
    cursor: pointer;
}

.header__search-btn:hover {
    background-color: #f36347;
}

.header__search-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-option {
    width: 130px;
    position: absolute;
    top: 130%;
    right: 0;
    box-shadow: 0 1px 2px #dbd6d6;
    border-radius: 3px;
    display: none;
}

.header__search-option::after {
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    position: absolute;
    top: -15px;
}

.header__search-option-item {
    background-color: var(--white-color);
    padding: 8px 8px;
    cursor: pointer;
    animation: fadeIn ease .2s;
}

.header__search-option-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__search-option-item:hover {
    background-color: #fafafa;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin: 0 8px;
}

.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--main-color);
    margin: 0 6px 0 8px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

/* Search history */
.header__search-history {
    position: absolute;
    top: calc(100% + 3px);
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0px 0px 5px #cacaca;
    display: none;
    overflow: hidden;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

.header__search-history-heading {
    margin: 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 300;
}

.header__search-history-list {
    margin: 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 13px;
}

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item a {
    display: block;
    line-height: 38px;
    font-size: 1.4rem;
    color: var(--text-color);
}