/* Common Class */
.bold-400 {
    font-weight: 400 !important;
}

.separate::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -10px;
    height: 16px;
    border-right: 1px solid #ff8473;
}

/* Begin */
.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6333, #f53e2e);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    margin-top: 4px;
    margin-bottom: 0;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar--title2 {
    cursor: text;
    color: var(--white-color);
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-icon-link {
    color: var(--white-color);
}

.header__navbar-item,
.header__navbar-item-link {
    color: var(--white-color);
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 300;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}   

.header__navbar-item,
.header__navbar-icon-link,
.header__navbar-item-link {
    display: inline-flex;
    align-items: center;
}

/* Header QR Code */

.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 120%;
    padding: 8px;
    border-radius: 4px;
    display: none;
    animation: fadeIn ease-in-out 0.3s;
}

.header__qr::before {
    content: "";
    width: 100%;
    height: 20px;
    display: block;
    position: absolute;
    top: -8%;
    left: 0;
}

.header_qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link:first-child {
    margin-left: 11px;
}

.header__qr-link:last-child {
    margin-right: 11px;
}

.header__qr-download-img {
    height: 16px;
}

.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}
